@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;

}body::-webkit-scrollbar{
  display: none;
}

section {
  background: linear-gradient(to right bottom, #0982f4, purple);
  padding:  2em 20em;
}

.cart {
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 2em;
  border-radius: 15px;
}

.logo img {
  width: 15%;
}

h1 {
  /* font-weight: 600; */
  font-size: 23px;
  margin: .5em 0;
}

.shoe img {
  width: 100%;
  filter: contrast(140%);
}

.type-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  margin: 0 0 3em 0;
}
.description p{
  font-size: 14px;
}
.colors {
  display: flex;
  align-items: center;
  gap: 0 .5em;
}

.color-one {
  width: 20px;
  height: 20px;
  background-color: blue;
  border-radius: 50%;
  cursor: pointer;
}

.color-two {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  outline: 2px solid red;
  outline-offset: 2px;
  cursor: pointer;

}

.color-three {
  width: 20px;
  height: 20px;
  background-color: yellow;
  border-radius: 50%;
  cursor: pointer;

}



.price h3 {
  font-size: 30px;
}

.price p {
  font-size: 13px;
}

button {
  padding: 1em;
  width: 100%;
  margin: 2em 0 0 0;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right bottom, #0982f4, purple);
  color: white;
  font-family: inherit;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
}